<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>employment</key>
	<dict>
		<key>motif</key>
		<string>就业服务</string>
		<key>briefDes</key>
		<string>找工作</string>
		<key>iconName</key>
		<string>work.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key> 2</key>
	<dict>
		<key>motif</key>
		<string>居家养老</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>toolicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>3</key>
	<dict>
		<key>motif</key>
		<string>社区超市</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>home.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>4</key>
	<dict>
		<key>motif</key>
		<string>商城</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
</dict>
</plist>
