<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DomesticTourism</key>
	<dict>
		<key>motif</key>
		<string>国内旅游</string>
		<key>items</key>
		<dict>
			<key>1</key>
			<dict>
				<key>motif</key>
				<string>［乐享］桂林乐享双卧6日游 送999无礼品券（养老金10无）</string>
				<key>FeaturesIntroduced</key>
				<string>超值桂林</string>
				<key>Price</key>
				<string>$999.00</string>
				<key>image</key>
				<string>work.png</string>
				<key>classification</key>
				<dict>
					<key>tag</key>
					<string>1</string>
					<key>motif</key>
					<string>冬季温养 固精养气</string>
				</dict>
			</dict>
			<key>2</key>
			<dict>
				<key>motif</key>
				<string>［畅游］桂林、阳朔、漓江、冠岩双飞五日纯玩游（养老金50元）</string>
				<key>FeaturesIntroduced</key>
				<string>纯玩超值</string>
				<key>Price</key>
				<string>$1380.00</string>
				<key>image</key>
				<string>work.png</string>
				<key>classification</key>
				<dict>
					<key>tag</key>
					<string>2</string>
					<key>motif</key>
					<string>适合老年专线</string>
				</dict>
			</dict>
			<key>3</key>
			<dict>
				<key>motif</key>
				<string>［经典］桂林、阳朔、漓江双飞5日经典游（养老金100元）</string>
				<key>FeaturesIntroduced</key>
				<string>经典桂林三山一洞一公园</string>
				<key>Price</key>
				<string>$1680.00</string>
				<key>image</key>
				<string>work.png</string>
				<key>classification</key>
				<dict>
					<key>tag</key>
					<string>3</string>
					<key>motif</key>
					<string>养生养老 基地游</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>TravelAbroad</key>
	<dict>
		<key>motif</key>
		<string>国外旅游</string>
		<key>items</key>
		<dict>
			<key>1</key>
			<dict>
				<key>motif</key>
				<string>夕阳红－－柬埔寨、越南（赠送岘港、顺化）双国全景十日（养老金250元）</string>
				<key>FeaturesIntroduced</key>
				<string>夕阳红－－柬埔寨、越南（赠送岘港、顺化）双国全景十日</string>
				<key>Price</key>
				<string>$6580.00</string>
				<key>image</key>
				<string>work.png</string>
				<key>classification</key>
				<dict>
					<key>tag</key>
					<string>4</string>
					<key>motif</key>
					<string>春暖花开 万物复苏</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>HongKongMacaoTaiwanTourism</key>
	<dict>
		<key>motif</key>
		<string>港澳台旅游</string>
		<key>items</key>
		<dict>
			<key>1</key>
			<dict>
				<key>motif</key>
				<string>夕阳红－－台湾八日游（养老金150元）</string>
				<key>FeaturesIntroduced</key>
				<string>游：故宫博物馆、日月潭、中台禅寺、溪头风景区</string>
				<key>Price</key>
				<string>$3080.00</string>
				<key>image</key>
				<string>work.png</string>
				<key>classification</key>
				<dict>
					<key>tag</key>
					<string>5</string>
					<key>motif</key>
					<string>秋高气爽 结伴而行</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
