<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntegralExchange</key>
	<dict>
		<key>motif</key>
		<string>积分兑换</string>
		<key>briefDes</key>
		<string>积分当钱花</string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
	</dict>
	<key>IntegralLuckyDraw</key>
	<dict>
		<key>motif</key>
		<string>积分抽奖</string>
		<key>briefDes</key>
		<string>积分中大奖</string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
	</dict>
	<key>HealthTourism</key>
	<dict>
		<key>motif</key>
		<string>养生旅游</string>
		<key>briefDes</key>
		<string>悦游天下</string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
	</dict>
	<key>HotList</key>
	<dict>
		<key>motif</key>
		<string>热卖榜单</string>
		<key>briefDes</key>
		<string>每天都更新</string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
	</dict>
	<key>Share</key>
	<dict>
		<key>motif</key>
		<string>分享</string>
		<key>briefDes</key>
		<string>一起分享美好</string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
	</dict>
	<key>AdvertisingMall</key>
	<dict>
		<key>motif</key>
		<string>广告商城</string>
		<key>briefDes</key>
		<string>不一样的体验</string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
	</dict>
</dict>
</plist>
