<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImportedFoods</key>
	<dict>
		<key>motif</key>
		<string>进口食品</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>work.png</string>
	</dict>
	<key>CasualSnacks</key>
	<dict>
		<key>motif</key>
		<string>休闲零食</string>
		<key>briefDes</key>
		<string>坚果炒货 肉干肉松 蜜饯果脯</string>
		<key>iconName</key>
		<string>toolicon.png</string>
	</dict>
</dict>
</plist>
