<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HydropowerPayment</key>
	<dict>
		<key>motif</key>
		<string>水电缴费</string>
		<key>title</key>
		<string>水电煤</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>work.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>AddCredit</key>
	<dict>
		<key>motif</key>
		<string>手机充值</string>
		<key>title</key>
		<string>便民充值中心</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>CreditCardPayment</key>
	<dict>
		<key>motif</key>
		<string>信用卡还款</string>
		<key>title</key>
		<string>信用卡还款</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>HealthTourism</key>
	<dict>
		<key>motif</key>
		<string>养生旅游</string>
		<key>title</key>
		<string>养生旅游</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>IntegratedMall</key>
	<dict>
		<key>motif</key>
		<string>综合商城</string>
		<key>title</key>
		<string>微行掌商城</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>CommunitySupermarket</key>
	<dict>
		<key>motif</key>
		<string>社区超市</string>
		<key>title</key>
		<string>社区超市</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>home.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>CareersService</key>
	<dict>
		<key>motif</key>
		<string>就业服务</string>
		<key>title</key>
		<string></string>
		<key>briefDes</key>
		<string>找工作</string>
		<key>iconName</key>
		<string>work.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>AgingInPlace</key>
	<dict>
		<key>motif</key>
		<string>居家养老</string>
		<key>title</key>
		<string></string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>toolicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>TicketOrdering</key>
	<dict>
		<key>motif</key>
		<string>火车票</string>
		<key>title</key>
		<string>微行掌火车票</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>AirTicketOrdering</key>
	<dict>
		<key>motif</key>
		<string>机票</string>
		<key>title</key>
		<string>微行掌旅行</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>IntegralLuckyDraw</key>
	<dict>
		<key>motif</key>
		<string>积分抽奖</string>
		<key>title</key>
		<string>积分抽奖</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>HotelBooking</key>
	<dict>
		<key>motif</key>
		<string>酒店</string>
		<key>title</key>
		<string>酒店查询</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>MyCollection</key>
	<dict>
		<key>motif</key>
		<string>我的收藏</string>
		<key>title</key>
		<string>宝贝收藏</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>IntegralExchange</key>
	<dict>
		<key>motif</key>
		<string>积分兑换</string>
		<key>title</key>
		<string>积分兑换</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>AttractionsTickets</key>
	<dict>
		<key>motif</key>
		<string>景点门票</string>
		<key>title</key>
		<string>景点门票</string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
	<key>DevelopmentMessage</key>
	<dict>
		<key>motif</key>
		<string>开发消息</string>
		<key>title</key>
		<string></string>
		<key>briefDes</key>
		<string></string>
		<key>iconName</key>
		<string>doubleicon.png</string>
		<key>iconName2</key>
		<string></string>
		<key>pviewController</key>
		<data></data>
	</dict>
</dict>
</plist>
